body{
    background-color: rgb(163, 203, 255);
    color: #fff;
    text-align: left;
    font-family: cursive;
}
@media only screen and(min-width:400px){
    header,nav,section,article,aside,footer{
        width:100%;
    }
}

h1{
    color: black;
    margin: .25em auto;
text-align: center;
width: 90%;
text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
}
p{background:rgb(120, 118, 254);
    color:#000000;

}
h2{
    color: black;
    margin: .25em auto;
text-align: center;
width: 90%;
text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
}
form{
    background-color: rgb(156, 179, 242);
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    color:rgb(0, 0, 0);
    border-radius:  3px;
    font-size: 18px;
}